<p>Collect email address, receive updates etc... unsubscribe</p>
<p>Collect affiliate code - help us track who told you about LRag and receive appropriate rewards</p>

PRIVATE PRO
<p>GO PRO button (subscription per month)</p>
<p>Professional support - ticketing system</p>
<p>Notification of software updates</p>
<p>Access to more sophisticated models</p>
Several experts will be available to answer your questions via email, telephone or video call.
Optionally you can give us permission to remote control your PC to help further.

PRO+ Not private
<p>GO PRO+ version - subscription based (Coming soon 10€ per month)</p>
<p>Connect to external providers (NOT PRIVATE) Anthropic, Gemini, Groq and OpenAI</p>
<p>MCP tool calling for agentic behaviours</p>
<p>Professional support</p>
<p>Image, video and audio generation (To come later)</p>
<p>... other advanced features</p>
