  @if (!docsHealthy() || isUploading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }
  <mat-toolbar>
    <mat-toolbar-row>
      <h1 class="title" [matTooltip]="'PAGES.INSIGHT.RESET_CONTEXT_TIP' | translate">
        {{ 'PAGES.INGEST.MAIN_TITLE' | translate }}
      </h1>
      @if (systemService.localVector) {
        &nbsp;<a matButton="elevated" class="small" [matTooltip]="'PAGES.INGEST.SCANNED_DOCS_TEXT' | translate" (click)="commonService.openExternal(systemService.ocr_pdf_link)">
        {{ 'PAGES.INGEST.SCANNED_DOCS' | translate }}
        </a>
      }
      <span class="spacer"></span>      
      @if (ingestStatus === EStatus.running || ingestStatus === EStatus.preparing || ingestStatus === EStatus.extracting || ingestStatus === EStatus.splitting || ingestStatus === EStatus.loaded || ingestStatus === EStatus.indexing || ingestStatus === EStatus.saving || ingestStatus === EStatus.adding) {
        <div [class]="systemService.ingestStatus.getC()">
          <mat-spinner diameter="30"></mat-spinner>
          {{ systemService.ingestStatus.getS() }}
        </div>
      } @else {
        <!--
        @if (overallStatus === EStatus.running_healthy && anyDocsNotEmbedded()) {
          <button matButton="filled" (click)="startIngestion()">
            {{ 'PAGES.INGEST.INDEX' | translate }}
          </button>
        }
          -->
      }
    </mat-toolbar-row>  
  </mat-toolbar>
  @if (isUploading) {
    <div class="progress">
      <mat-progress-bar #progress mode="determinate" [value]="fileProgress"></mat-progress-bar>
      <mat-label>{{fileProgress}}%</mat-label>
    </div>
  }
  <!--
  <div class="dropzone">
  <ngx-file-drop 
    accept=".pdf,.xlm,.xls,.xlsm,.xlsx,.csv,.doc,.ppt,.txt,.json,.xml,.md"
    dropZoneClassName="dropzone"
    (onFileDrop)="dropped($event)"
    directory="false"
    [disabled]="overallStatus !== EStatus.running_healthy || ingestStatus !== EStatus.not_running || systemService.ragFiles.length >= systemService.MAX_FILES"
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <mat-icon>file_upload</mat-icon>
        @if (overallStatus === EStatus.running_healthy && ingestStatus === EStatus.not_running && systemService.ragFiles.length < systemService.MAX_FILES) {
          <mat-label>{{ 'PAGES.INGEST.DROP_HERE'| translate }}</mat-label><br/>
        } @else {
          <mat-label>{{ 'PAGES.INGEST.PLEASE_WAIT'| translate }}</mat-label><br/>
        }
        @if (overallStatus === EStatus.running_healthy && ingestStatus === EStatus.not_running && systemService.ragFiles.length < systemService.MAX_FILES) {
          <button matButton (click)="openFileSelector()">{{ 'PAGES.INGEST.SELECT_FILE' | translate }}</button>
        }
      </ng-template>    
    </ngx-file-drop>
  </div>
  -->
  @if (settingsService.isActivePro()) {
    <mat-accordion>
      <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
        <mat-panel-title>{{ 'PAGES.INGEST.OPTIONS' | translate }}</mat-panel-title>
        <mat-panel-description>        
        </mat-panel-description>
      </mat-expansion-panel-header>
        <div class="onerow">
          <mat-label [matTooltip]="'PAGES.INGEST.CHUNK_SIZE_TIP' | translate">{{ 'PAGES.INGEST.CHUNK_SIZE' | translate }}</mat-label>
          <mat-slider [disabled]="ingestStatus !== EStatus.not_running || overallStatus !== EStatus.running_healthy" min="0" max="4096" step="64" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="systemService.chunkSize" [value]="systemService.chunkSize">
          </mat-slider>
          <mat-label [matTooltip]="'PAGES.INGEST.OVERLAP_TIP' | translate">{{ 'PAGES.INGEST.OVERLAP' | translate }}</mat-label>
          <mat-slider [disabled]="ingestStatus !== EStatus.not_running || overallStatus !== EStatus.running_healthy" min="0" max="1024" step="16" showTickMarks discrete>
            <input matSliderThumb [(ngModel)]="systemService.overlap" [value]="systemService.overlap">
          </mat-slider>
          <span class="spacer"></span>  
          <button [disabled]="ingestStatus !== EStatus.not_running || overallStatus !== EStatus.running_healthy" matButton="filled" (click)="resetDefaults($event)">
            {{ 'PAGES.INGEST.RESET_CHUNKS' | translate }}
          </button>
        </div>
        <div class="onerow">
          <mat-slide-toggle [disabled]="ingestStatus !== EStatus.not_running || overallStatus !== EStatus.running_healthy" [checked]="systemService.useQuantum" [matTooltip]="'PAGES.INGEST.USE_QUANTUM_TIP' | translate" [(ngModel)]="systemService.useQuantum" (change)="switchQuantum($event)">
          {{ 'PAGES.INGEST.USE_QUANTUM' | translate }}
          </mat-slide-toggle>  
        </div>
        <div class="onerow">
          <mat-slide-toggle [disabled]="ingestStatus !== EStatus.not_running || overallStatus !== EStatus.running_healthy" [checked]="systemService.useSemantic" [matTooltip]="'PAGES.INGEST.USE_SEMANTIC_TIP' | translate" [(ngModel)]="systemService.useSemantic">
          {{ 'PAGES.INGEST.USE_SEMANTIC' | translate }}
          </mat-slide-toggle>  
        </div>
        <div class="onerow">
          <mat-form-field>
            <mat-label [matTooltip]="'PAGES.INGEST.SEPARATOR_TIP' | translate">{{ 'PAGES.INGEST.SEPARATOR' | translate }}</mat-label>
            <input matInput [disabled]="overallStatus !== EStatus.running_healthy || ingestStatus !== EStatus.not_running" matInput type="text" [(ngModel)]="systemService.separator" [maxLength]="1" [minlength]="1">
          </mat-form-field>
          <span class="spacer"></span>
          <button [disabled]="overallStatus !== EStatus.running_healthy || ingestStatus !== EStatus.not_running" matButton="filled" (click)="systemService.separator = ';'">
            {{ 'PAGES.INGEST.RESET_CHUNKS' | translate }}
          </button>
        </div>
      </mat-expansion-panel>        
    </mat-accordion>
    <div class="onerow">
      <button [disabled]="overallStatus !== EStatus.running_healthy || ingestStatus !== EStatus.not_running" matIconButton (click)="addColState = !addColState">
        <mat-icon>{{ addColState ? 'backspace' : 'add_card' }}</mat-icon>
      </button>
      <span class="spacer"></span>      
      @if (addColState) {
      <mat-form-field class="full-width">
        <mat-label>{{ 'PAGES.INGEST.COLLECTION_NAME' | translate }}</mat-label>
        <input matInput specialIsAlphaNumeric [disabled]="overallStatus !== EStatus.running_healthy || ingestStatus !== EStatus.not_running" matInput type="text" [(ngModel)]="collection" [maxLength]="80" [minlength]="8" (focus)="showErrors = true" (blur)="newCollection($event)">
        @if (this.collection.length < 8 && showErrors) {
          <mat-error>{{ 'PAGES.INGEST.COLLECTION_NAME_ERROR' | translate}}</mat-error>
        }
      </mat-form-field>
      } @else {
        <mat-form-field class="full-width">
          <mat-label [matTooltip]="'PAGES.INGEST.COLLECTIONS_TIP' | translate">{{ 'PAGES.INGEST.COLLECTIONS' | translate }}</mat-label>
          <mat-select (openedChange)="toggleOpen($event)" [formControl]="systemService.selectedCollections" (selectionChange)="changeCollection($event)">
            @for (entry of systemService.collections; track $index) {
              <mat-option [value]="entry.value">
                {{ entry.name }}
              </mat-option>
            }
          </mat-select>    
        </mat-form-field>    
        @if (!this.isOpened && systemService.selectedCollections.value && overallStatus === EStatus.running_healthy && ingestStatus === EStatus.not_running && systemService.collection !== 'general') {
          <button matSuffix matIconButton aria-label="Clear" (click)="collectionRemove($event)">
            <mat-icon>delete</mat-icon>
          </button>            
        }
      }
    </div>
  }
  <!--
  <div class="onerow">
    <mat-form-field class="full-width">
      <mat-label>{{ 'PAGES.INGEST.FILES' | translate }}</mat-label>
      <mat-select (openedChange)="toggleOpen($event)" [formControl]="systemService.selectedDocuments" multiple [value]="systemService.selectedDocuments">
        @for (entry of systemService.ragFiles; track $index) {
          <mat-option [value]="entry.name">{{ commonService.basename(entry.name) }}</mat-option>
        }
      </mat-select>    
    </mat-form-field>
    @if (!this.isOpened && systemService.selectedDocuments.value && systemService.selectedDocuments.value.length > 0 && overallStatus === EStatus.running_healthy && ingestStatus === EStatus.not_running) {
      <button matSuffix matIconButton aria-label="Clear" (click)="fileRemove($event)">
        <mat-icon>delete</mat-icon>
      </button>            
    }  
  </div>
  -->
  <mat-dialog-content>
    <div class="filelistscroll">
      <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
        @for (entry of systemService.ragFiles; track $index) {
          <mat-grid-tile colspan="1" rowspan="1">
            @if (entry.status === 0) {
              <!--
              <mat-icon matListItemIcon class="success">checkmark</mat-icon>
              -->
              <mat-checkbox [disabled]="overallStatus !== EStatus.running_healthy" [(ngModel)]="mediaService.filesChecked[$index]"></mat-checkbox>
            } @else if (entry.status === 1) {
              <!--
              <mat-icon matListItemIcon class="danger">close</mat-icon>
              -->
              <mat-checkbox [(ngModel)]="mediaService.filesChecked[$index]"></mat-checkbox>
            } @else {
              <mat-spinner diameter="20"></mat-spinner>
            }
            <mat-list-item lines="2">
              <div matListItemTitle>
                {{ commonService.basename(entry.name) }}
              </div>
              @if (systemService.isImage(entry.name)) {
                <div matListItemLine [class]="'success'">
                  {{ 'embedded' }}
                </div>
              } @else {
                <div matListItemLine [class]="entry.status === 0 ? 'success' : entry.status === 1 ? 'danger' : 'warning'">
                  {{ entry.text }}
                </div>
              }
            </mat-list-item>
          </mat-grid-tile>      
        }         
      </mat-grid-list>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="fab-flex-container">
      <div class="dropzone">
        <ngx-file-drop 
        accept=".pdf,.xls,.xlsm,.csv,.doc,.docx,.ppt,.pptx,.txt,.json,.xml,.md,.png,.jpg,.jpeg,.tiff,.bmp"
        dropZoneClassName="dropzone"
        (onFileDrop)="dropped($event)"
        [directory]="false"
        [disabled]="overallStatus !== EStatus.running_healthy || ingestStatus !== EStatus.not_running || systemService.ragFiles.length >= systemService.MAX_FILES"
        >
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <button matFab [disabled]="!(overallStatus === EStatus.running_healthy && ingestStatus === EStatus.not_running && systemService.ragFiles.length < systemService.MAX_FILES)" aria-label="Clear" (click)="openFileSelector()">
              <mat-icon>note_add</mat-icon>
            </button>
          </ng-template>    
        </ngx-file-drop>
      </div>            
    </div>
    <button matFab [disabled]="!hasChecked() || systemService.ragFiles.length === 0 || overallStatus !== EStatus.running_healthy" aria-label="Clear" (click)="removeChecked($event)">
      <mat-icon>delete</mat-icon>
    </button>
    <span class="spacer"></span>
    <button matButton [disabled]="systemService.ragFiles.length === 0 || (!(overallStatus === EStatus.running_healthy && docsHealthy() && !hasOCR))" [mat-dialog-close]="true" cdkFocusInitial>{{ 'OK' | translate }}</button>
    <button matButton [disabled]="!(overallStatus === EStatus.running_healthy && docsHealthy())" mat-dialog-close>{{ 'CANCEL' | translate }}</button>      
  </mat-dialog-actions>
