  <mat-toolbar>
    <mat-toolbar-row>
      <h1 class="title" [matTooltip]="'PAGES.INSIGHT.RESET_CONTEXT_TIP' | translate">
        {{ 'PAGES.INGEST.MAIN_TITLE' | translate }}
      </h1>&nbsp;
      <a matButton="elevated" class="small" [matTooltip]="'PAGES.INGEST.SCANNED_DOCS_TEXT' | translate" (click)="systemService.openExternal(systemService.ocr_pdf_link)">
      {{ 'PAGES.INGEST.SCANNED_DOCS' | translate }}
      </a>
      <span class="spacer"></span>      
      @if (ingestStatus === 'running' || ingestStatus.startsWith('splitting') || ingestStatus === 'loaded' || ingestStatus.startsWith('indexing') || ingestStatus === 'saving' || ingestStatus === 'adding') {
        <div [class]="systemService.getClassFromStatus(ingestStatus)">
          <mat-spinner diameter="30"></mat-spinner>
          {{ ingestStatus }}
        </div>
      } @else {
        @if (systemService.overallStatus() === 'running: healthy') {
          <button matButton="filled" (click)="startIngestion()">
            {{ 'PAGES.INGEST.INDEX' | translate }}
          </button>
        }
      }
    </mat-toolbar-row>  
  </mat-toolbar>
  @if (isUploading) {
    <div class="progress">
      <mat-progress-bar #progress mode="determinate" [value]="fileProgress"></mat-progress-bar>
      <mat-label>{{fileProgress}}%</mat-label>
    </div>
  }
  <div class="dropzone">
  <ngx-file-drop 
    accept=".pdf,.xlm,.xls,.xlsm,.xlsx,.csv,.doc,.ppt,.txt,.json,*.xml,*.md"
    dropZoneClassName="dropzone"
    (onFileDrop)="dropped($event)"
    [disabled]="overallStatus !== 'running: healthy' || ingestStatus !== 'not running' || systemService.ragFiles.length >= systemService.MAX_FILES"
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <mat-icon>file_upload</mat-icon>
        @if (overallStatus === 'running: healthy' && ingestStatus === 'not running' && systemService.ragFiles.length < systemService.MAX_FILES) {
          <mat-label>{{ 'PAGES.INGEST.DROP_HERE'| translate }}</mat-label><br/>
        } @else {
          <mat-label>{{ 'PAGES.INGEST.PLEASE_WAIT'| translate }}</mat-label><br/>
        }
        @if (overallStatus === 'running: healthy' && ingestStatus === 'not running' && systemService.ragFiles.length < systemService.MAX_FILES) {
          <button matButton (click)="openFileSelector()">{{ 'PAGES.INGEST.SELECT_FILE' | translate }}</button>
        }
      </ng-template>    
    </ngx-file-drop>
  </div>
  <mat-accordion>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
      <mat-panel-title>{{ 'PAGES.INGEST.OPTIONS' | translate }}</mat-panel-title>
      <mat-panel-description>        
      </mat-panel-description>
    </mat-expansion-panel-header> 
      <div class="onerow">
        <mat-label [matTooltip]="'PAGES.INGEST.CHUNK_SIZE_TIP' | translate">{{ 'PAGES.INGEST.CHUNK_SIZE' | translate }}</mat-label>
        <mat-slider [disabled]="this.systemService.ingestStatus() !== 'not running' || this.overallStatus !== 'running: healthy'" min="0" max="4096" step="64" showTickMarks discrete>
          <input matSliderThumb [(ngModel)]="systemService.chunkSize" [value]="systemService.chunkSize">
        </mat-slider>
        <mat-label [matTooltip]="'PAGES.INGEST.OVERLAP_TIP' | translate">{{ 'PAGES.INGEST.OVERLAP' | translate }}</mat-label>
        <mat-slider [disabled]="this.systemService.ingestStatus() !== 'not running' || this.overallStatus !== 'running: healthy'" min="0" max="1024" step="16" showTickMarks discrete>
          <input matSliderThumb [(ngModel)]="systemService.overlap" [value]="systemService.overlap">
        </mat-slider>
        <span class="spacer"></span>  
        <button [disabled]="this.systemService.ingestStatus() !== 'not running' || this.overallStatus !== 'running: healthy'" matButton="filled" (click)="resetDefaults($event)">
          {{ 'PAGES.INGEST.RESET_CHUNKS' | translate }}
        </button>
      </div>
      <div class="onerow">
        <mat-slide-toggle [disabled]="this.systemService.ingestStatus() !== 'not running' || this.overallStatus !== 'running: healthy'" [checked]="systemService.useSemantic" [matTooltip]="'PAGES.INGEST.USE_LOCAL_VECTOR_TIP' | translate" [(ngModel)]="systemService.localVector">
        {{ 'PAGES.INGEST.USE_LOCAL_VECTOR' | translate }}
        </mat-slide-toggle>  
      </div>
      <div class="onerow">
        <mat-slide-toggle [disabled]="this.systemService.ingestStatus() !== 'not running' || this.overallStatus !== 'running: healthy'" [checked]="systemService.useSemantic" [matTooltip]="'PAGES.INGEST.USE_SEMANTIC_TIP' | translate" [(ngModel)]="systemService.useSemantic">
        {{ 'PAGES.INGEST.USE_SEMANTIC' | translate }}
        </mat-slide-toggle>  
      </div>
      <div class="onerow">
        <mat-form-field>
          <mat-label [matTooltip]="'PAGES.INGEST.SEPARATOR_TIP' | translate">{{ 'PAGES.INGEST.SEPARATOR' | translate }}</mat-label>
          <input matInput [disabled]="systemService.overallStatus() !== 'running: healthy' || this.systemService.ingestStatus() !== 'not running'" matInput type="text" [(ngModel)]="systemService.separator" [maxLength]="1" [minlength]="1">
        </mat-form-field>
        <span class="spacer"></span>
        <button [disabled]="systemService.overallStatus() !== 'running: healthy' || systemService.ingestStatus() !== 'not running'" matButton="filled" (click)="systemService.separator = ';'">
          {{ 'PAGES.INGEST.RESET_CHUNKS' | translate }}
        </button>
      </div>
    </mat-expansion-panel>        
  </mat-accordion>  
  <div class="onerow">
  <mat-form-field class="full-width">
    <mat-label>{{ 'PAGES.INGEST.FILES' | translate }}</mat-label>
    <mat-select (openedChange)="toggleOpen($event)" [disabled]="this.systemService.ingestStatus() !== 'not running' || this.overallStatus !== 'running: healthy'" [formControl]="systemService.selectedDocuments" multiple [value]="systemService.selectedDocuments">
      @for (entry of systemService.ragFiles; track $index) {
        <mat-option [value]="entry.name">{{ entry.name }}</mat-option>
      }
    </mat-select>    
  </mat-form-field>
  @if (!this.isOpened && systemService.selectedDocuments.value && systemService.selectedDocuments.value.length > 0 && this.overallStatus === 'running: healthy' && this.systemService.ingestStatus() === 'not running') {
    <button matSuffix matIconButton aria-label="Clear" (click)="fileRemove($event)">
      <mat-icon>delete</mat-icon>
    </button>            
  }  
</div>

  <div class="vertscroll">
  <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
    @for (entry of systemService.ragFiles; track $index) {
      <mat-grid-tile class="gridtile" colspan="1" rowspan="1">
        <mat-list-item>
          @if (entry.status === 0) {
            <mat-icon matListItemIcon class="success">checkmark</mat-icon>
          } @else if (entry.status === 1) {
            <mat-icon matListItemIcon class="danger">close</mat-icon>
          } @else {
            <mat-icon matListItemIcon class="warning">quiz</mat-icon>
          }
          <div matListItemTitle>
            {{ entry.name }}
          </div>
          <div matListItemLine class="danger">
            {{ entry.text }}
          </div>
        </mat-list-item>
      </mat-grid-tile>      
    }         
  </mat-grid-list>
  </div>
