@import '../../assets/gstyle.css';

.progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: top;
}

.filelistscroll {
  width: 100%;
  min-height: 30%;
}

::ng-deep .mat-mdc-dialog-content {
    max-height: 75vh !important;
}

.spinner-container {
  /* Position the container to cover the entire viewport */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* Use Flexbox to center the content */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */

  /* Optional: Add a background overlay and z-index */
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

.dropzone {
  border: 2px greenyellow;
  border-style: dashed;
  width: 80px;
  height: 80px;
  margin-right: 5px;  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1000;
}

.fab-flex-container {
  display: flex;
  float: left;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
