.slideShow {
  background-image: url('/assets/icons/Logo.png');
  background-repeat: no-repeat;
  background-position-x: left;  
  border: 2px solid limegreen;  
  border-radius: 10px;
  padding: 2px;
}

.aSlide {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.title {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.smallish {
  font-size: 0.8rem;
}