<div id="slideShowElem" class="slideShow">
  <splide #mainSplide (onMoved)="slideMoved($event)" [selectedSlideIndex]="slideIndex">
    <splide-slide>
      <div class="aSlide">
        @for (entry of slides[0].paragraphs; track $index) {
          <span [innerHTML]="entry.before"></span>
          <span [class]="entry.class">
            {{ entry.text }}
          </span>
          <span [innerHTML]="entry.after"></span>
        }            
      </div>
    </splide-slide>
    <splide-slide>      
      <div class="aSlide">
        @for (entry of slides[1].paragraphs; track $index) {
          <span [innerHTML]="entry.before"></span>
          <span [class]="entry.class">
            {{ entry.text }}
          </span>
          <span [innerHTML]="entry.after"></span>
        }          
      </div>
    </splide-slide>
    <splide-slide>      
      <div class="aSlide">
        @for (entry of slides[2].paragraphs; track $index) {
          <span [innerHTML]="entry.before"></span>
          <span [class]="entry.class">
            {{ entry.text }}
          </span>
          <span [innerHTML]="entry.after"></span>
        }          
      </div>
    </splide-slide>
  </splide>
</div>
