<mat-toolbar>
  <mat-icon class="main-menu" (click)="rotate($event)">keyboard_arrow_right</mat-icon>  
	<h1>{{ 'APP.TITLE' | translate }}&nbsp;v{{ 'APP.VERSION' | translate }}</h1>&nbsp;
  <span class="small">{{ systemService.status }}</span>
  @if (systemService.showGetOllama && ollamaService.status.get() !== EStatus.running) {
    &nbsp;
    <a matButton="outlined" class="small" [matTooltip]="'APP.GET_OLLAMA_TIP' | translate" (click)="commonService.openExternal(systemService.ollama_get_link)">
      {{ 'APP.GET_OLLAMA' | translate }}
    </a>
  }  
  <span class="spacer"></span>
  @if (!(
        (overallStatus === EStatus.running_healthy) ||
        (overallStatus === EStatus.running_unhealthy) 
      )) {
    <div [class]="systemService.mainStatus.getC()">
      <mat-spinner diameter="30"></mat-spinner>
      <span class="spacer"></span>
      {{ systemService.mainStatus.getS() }}
    </div>
    @if (ollamaService.manageOllamaExternally === true && ollamaService.status.get() === EStatus.not_running) {
      <span class="small">({{ 'APP.WAITING_FOR_OLLAMA_START' | translate }})</span>
    }
  } @else {            
    <div [class]="systemService.mainStatus.getC()">
      <mat-icon>{{ systemService.mainStatus.getI() }}</mat-icon>
      {{ systemService.mainStatus.getS() }}
    </div>
  }
  <span class="spacer"></span>  
  <mat-slide-toggle [checked]="systemService.dark" (change)="switchTheme($event)">
  {{ 'DARK' | translate }}
  </mat-slide-toggle>  
</mat-toolbar>
<mat-sidenav-container class="app-container" autosize>
	<mat-sidenav #sidenav [class]="isExpanded ? 'menu-sidenav' : 'menu-sidenav-narrow'" mode="side" opened="true">
    <mat-nav-list>
			<a mat-list-item [routerLink]="'home'">
        @if (isExpanded) {
          <span>{{ 'PAGES.HOME.TITLE' | translate }}</span>        
        }
				<mat-icon matListItemIcon>home</mat-icon>
			</a>
      <!--
      <a [disabled]="!systemService.hasBasicSetup" mat-list-item [routerLink]="'ingest'">
        @if (isExpanded) {
          <span>{{ 'PAGES.INGEST.TITLE' | translate }}</span>        
        }
				<mat-icon matListItemIcon>model_training</mat-icon>
      </a>
      -->
			<a [disabled]="!systemService.hasBasicSetup" mat-list-item [routerLink]="'insights'">
        @if (isExpanded) {
          <span>{{ 'PAGES.INSIGHT.TITLE' | translate }}</span>        
        }
				<mat-icon matListItemIcon>question_answer</mat-icon>
      </a>
      <a [disabled]="!systemService.hasBasicSetup" mat-list-item [routerLink]="'detail'">
        @if (isExpanded) {
          <span>{{ 'PAGES.DETAIL.TITLE' | translate }}</span>        
        }
				<mat-icon matListItemIcon>psychology</mat-icon>
      </a>
      <a [disabled]="!systemService.hasBasicSetup" mat-list-item [routerLink]="'settings'">
        @if (isExpanded) {
          <span>{{ 'PAGES.SETTINGS.TITLE' | translate }}</span>        
        }
				<mat-icon matListItemIcon>settings</mat-icon>
      </a>			      
      <a mat-list-item [routerLink]="'help'">
        @if (isExpanded) {
          <span>{{ 'PAGES.HELP.TITLE' | translate }}</span>        
        }
				<mat-icon matListItemIcon>help</mat-icon>
      </a>
      <a mat-list-item (click)="appExit($event)">
        @if (isExpanded) {
          <span>{{ 'EXIT' | translate }}</span>        
        }
				<mat-icon matListItemIcon>exit_to_app</mat-icon>
      </a>
    </mat-nav-list>     
	</mat-sidenav>
	<div class="menu-sidenav-content">
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
