<div class="help">
  <h3>
    {{ 'PAGES.HELP.WHAT_IS_LRAG_TITLE' | translate }}
  </h3>
  <p>{{ 'PAGES.HELP.WHAT_IS_LRAG' | translate }}</p>
  <h3>
    {{ 'PAGES.HELP.ACCURACY_TITLE' | translate }}
  </h3>
  <p>
    {{ 'PAGES.HELP.ACCURACY' | translate }}
  </p>
  <h3>
    {{ 'PAGES.HELP.HOW_FAST_TITLE' | translate }}
  </h3>
  <p>
    {{ 'PAGES.HELP.HOW_FAST' | translate }}
  </p>
  <h3>
    {{ 'PAGES.HELP.GPU_TITLE' | translate }}
  </h3>
  <p>
    {{ 'PAGES.HELP.GPU' | translate }}
  </p>
  <h3>
    {{ 'PAGES.HELP.EMAIL_SUPPORT_TITLE' | translate }}
  </h3>
  <p>
    {{ 'PAGES.HELP.EMAIL_SUPPORT' | translate }}
  </p>
</div>
