<div class="help">
  <h3>
    {{ 'PAGES.HELP.WHAT_IS_LRAG_TITLE' | translate }}
  </h3>
  <p>{{ 'PAGES.HELP.WHAT_IS_LRAG' | translate }}</p>
  <p>&copy; Copyright K.N.Khaleque 2025 All rights reserved</p>
  <h3>{{ 'PAGES.HELP.USEFUL_LINKS' | translate }}</h3>
  <ul>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.kb_link)">
        {{ 'PAGES.HELP.KB_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.forum_link)">
        {{ 'PAGES.HELP.FORUM_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.register_link)">
        {{ 'PAGES.HELP.REGISTER_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.support_link)">
        {{ 'PAGES.HELP.SUPPORT_LINK' | translate }}
      </a>
    </li>    
  </ul>
</div>
