<div class="help">
  <h3>
    {{ 'PAGES.HELP.TITLE' | translate }}
  </h3>
  <p>{{ 'PAGES.HELP.DESC' | translate }}</p>
  <h3>{{ 'PAGES.HELP.USEFUL_LINKS' | translate }}</h3>
  <ul>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.feedback_link)">
        {{ 'PAGES.HELP.FEEDBACK_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.youtube_gallery_link)">
        {{ 'PAGES.HELP.YOUTUBE_GALLERY_URL' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.kb_link)">
        {{ 'PAGES.HELP.KB_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.forum_link)">
        {{ 'PAGES.HELP.FORUM_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.register_link)">
        {{ 'PAGES.HELP.REGISTER_LINK' | translate }}
      </a>
    </li>
    <br/>
    <li>
      <a matButton="outlined" class="small" (click)="commonService.openExternal(systemService.support_link)">
        {{ 'PAGES.HELP.SUPPORT_LINK' | translate }}
      </a>
    </li>        
  </ul>
  <p>&copy; Copyright K.N.Khaleque 2026 All rights reserved</p>
</div>
