<mat-toolbar>
<h1 class="title">
  {{ 'PAGES.INSIGHT.MAIN_TITLE' | translate }}
</h1>
<span class="spacer"></span>
<div [class]="systemService.getClassFromStatus(systemService.modelStatus())">
  {{ systemService.modelStatus() }}
</div>
<button [matTooltip]="'PAGES.INSIGHT.RESET_CONTEXT_TIP' | translate" matIconButton>
  <mat-icon>restart_alt</mat-icon>
</button>
</mat-toolbar>

  @if (systemService.docsEmpty) {
    <mat-toolbar>
      <h1 class="title">
        {{ 'APP.DOCS_EMPTY' | translate }}
      </h1>    
    </mat-toolbar>
  } @else {
    @if (systemService.overallStatus()) {
      
    } @else {
      <div class="noaccess">
        <ngx-skeleton-loader count="30" [animation]="systemService.dark ? 'progress-dark': 'progress'" appearance="line" [theme]="{height: '20px', background: 'kahki'}" />
      </div>
    }
  }
