  <div class="onerow">
<h1 class="title">
  {{ 'PAGES.DETAIL.MAIN_TITLE' | translate }}
  <sub>
    {{ 'PAGES.DETAIL.MODEL_ACCURACY' | translate }}  
  </sub>
</h1>
<!--
@if (systemService.brand === 'Nvidia' || systemService.brand === 'Intel' || systemService.brand === 'Amd') {
  <span class="spacer"></span>
  <mat-slide-toggle [disabled]="overallStatus !== EStatus.running_healthy || this.systemService.insightStatus.get() !== EStatus.not_running" [matTooltip]="'GPU_ACCEL_TIP' | translate" [checked]="ollamaService.gpuAcceleration" (change)="switchGPUAccel($event)">
    {{ 'GPU_ACCEL' | translate }}
  </mat-slide-toggle>
}
-->
  </div>
  <div class="onerow">
    <mat-form-field class="full-width">
      <mat-label>{{ 'PAGES.DETAIL.MODEL_SELECT' | translate }}</mat-label>
      <mat-select [disabled]="overallStatus !== EStatus.running_healthy" [(value)]="ollamaService.selectedModel" (selectionChange)="modelChange($event, 0)">
        @for (entry of ollamaService.models; track $index) {
          <mat-option [matTooltip]="entry.description" [disabled]="entry.memory > (systemService.totalMainMemory-4) && !entry.cloud" [value]="entry.value">{{ entry.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>      
    <span class="spacer"></span>
    @if (ollamaService.status.get() === EStatus.running) {
      @if (systemService.modelStatus.get() !== EStatus.running) {
        <div [class]="systemService.modelStatus.getC()">
          <mat-spinner diameter="30"></mat-spinner>
          {{ systemService.modelStatus.getS() }}
        </div>
      }
      <!--
      } @else {
        <div [class]="systemService.getClassFromStatus(systemService.modelStatus())">
          <mat-icon>{{ systemService.getIconFromStatus(systemService.modelStatus()) }}</mat-icon>
          {{ systemService.modelStatus() }}
        </div>
      }
      -->   
    }
  </div>
  <mat-accordion>
  @if (settingsService.isActivePro()) {
    <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>{{ 'PAGES.DETAIL.EMBEDDED_MODEL' | translate }}</mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>
  </mat-expansion-panel-header> 
    <div class="onerow">
      <mat-form-field class="full-width">
        <mat-label>{{ 'PAGES.DETAIL.EMBEDDINGS_MODEL_SELECT' | translate }}</mat-label>
        <mat-select [disabled]="overallStatus !== EStatus.running_healthy" [(value)]="ollamaService.embeddings_model" (selectionChange)="modelChange($event, 1)">
          @for (entry of ollamaService.embedding_models; track $index) {
            <mat-option [matTooltip]="entry.description" [disabled]="entry.memory > (systemService.totalMainMemory-4)" [value]="entry.value">{{ entry.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    @if (systemService.totalMainMemory > 12 && systemService.getVram() > 12) {
      <mat-slide-toggle [disabled]="overallStatus !== EStatus.running_healthy || this.systemService.insightStatus.get() !== EStatus.not_running" [matTooltip]="'PAGES.DETAIL.USE_WATCHER_TIP' | translate" [checked]="ollamaService.useTesseractJS" (change)="switchOCR($event)">
        {{ 'PAGES.DETAIL.USE_WATCHER' | translate }}
      </mat-slide-toggle>
    }
    @if (!ollamaService.useTesseractJS) {
      <div class="onerow">
        <mat-form-field class="full-width">
          <mat-label>{{ 'PAGES.DETAIL.OCR_MODEL_SELECT' | translate }}</mat-label>
          <mat-select [disabled]="overallStatus !== EStatus.running_healthy" [(value)]="ollamaService.ocr_model" (selectionChange)="modelChange($event, 2)">
            @for (entry of ollamaService.ocr_models; track $index) {
              <mat-option [matTooltip]="entry.description" [disabled]="entry.memory > (systemService.totalMainMemory-4)" [value]="entry.value">{{ entry.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>  
    }
  </mat-expansion-panel>
  }
  <mat-expansion-panel [expanded]="ollamaService.cloudSelected">
    <mat-expansion-panel-header>
    <mat-panel-title>{{ 'PAGES.DETAIL.CLOUD' | translate }}</mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>
  </mat-expansion-panel-header> 
    <div class="onerow">
      <mat-form-field class="half-width">
        <mat-label [matTooltip]=" 'PAGES.DETAIL.API_KEY_TIP' | translate">{{ 'PAGES.DETAIL.API_KEY' | translate }}</mat-label>      
        <input matInput 
          [disabled]="overallStatus !== EStatus.running_healthy" 
          type="text" 
          [(ngModel)]="ollamaService.apiKey"          
          [maxLength]="100" 
        >
      </mat-form-field>
      <span class="spacer"></span>
      <button
        [disabled]="ollamaService.apiKey.length > 50" matButton="filled" (click)="getKey($event)">
        {{ 'PAGES.DETAIL.GET_OLLAMA_KEY' | translate }}
      </button>&nbsp;
      <button
        [disabled]="ollamaService.apiKey.length < 50" matButton="filled" (click)="activate($event)">
        {{ 'PAGES.DETAIL.ACTIVATE' | translate }}
      </button>
    </div>  
  </mat-expansion-panel>  
  </mat-accordion>
<mat-dialog-content>      
  @if (showModelList) {
    <div class="vertscroll">
      <table mat-table class="model_table">
        <tr mat-header-row>
          <td class="underline" mat-col>
            {{ 'PAGES.DETAIL.MODEL_NAME' | translate }}       
          </td>
          <td class="underline" mat-col>
            {{ 'PAGES.DETAIL.MODEL_TYPE' | translate }}       
          </td>
          <td class="underline" mat-col>
            @if (
                ollamaService.status.get() === EStatus.running && 
                systemService.modelStatus.get() === EStatus.running
              ) {
            <button [matTooltip]="'PAGES.DETAIL.REFRESH_LLM_TIP' | translate" matIconButton (click)="updateAllModels($event)">
              <mat-icon class="warning">refresh</mat-icon>
            </button>
            }
          </td>
          <td class="underline" mat-col>
            {{ 'PAGES.DETAIL.MODEL_SIZE' | translate }}
          </td>
          <td class="underline" mat-col>
            {{ 'PAGES.INSIGHT.CONTEXT_SIZE' | translate }}
          </td>
          @if (settingsService.isActivePro()) {      
          <td class="underline" mat-col>
            {{ 'PAGES.DETAIL.MODEL_CLOUD' | translate }}
          </td>
          }
        </tr>      
        @for (entry of ollamaService.availableModels; track $index) {
          <tr mat-row>
            <td class="centercol" mat-col>
              <button [matTooltip]="entry.description" matButton (click)="openModelDetails($event, entry.name)">
                {{ entry.name }} ({{ entry.capabilities && entry.capabilities.join(',') }})
              </button>
            </td>
            <td mat-col>
              {{ entry.input }}
            </td>
            <td mat-col>
              @if (
                ollamaService.status.get() === EStatus.running && 
                systemService.modelStatus.get() === EStatus.running
              ) {
              <button matIconButton (click)="updateModel($event, entry.name)">
                <mat-icon class="warning">refresh</mat-icon>
              </button>
              }
              @if (
                ollamaService.status.get() === EStatus.running && 
                systemService.modelStatus.get() === EStatus.running &&
                !entry.name.startsWith('embedding') &&
                !entry.name.startsWith('gemma3:1b') &&
                !entry.name.startsWith('granite3.2-vision') &&
                entry.name !== ollamaService.selectedModel &&
                entry.name !== ollamaService.embeddings_model &&
                entry.name !== ollamaService.ocr_model
              ) {
                <button matIconButton (click)="removeModel($event, $index)">
                  <mat-icon class="danger">cancel</mat-icon>
                </button>
              }              
            </td>
            <td mat-col>
              {{ entry.size ? entry.size + ' MB' : '&infin;' }}
            </td>
            <td mat-col>
              {{ this.kTokens(entry.context_length) }}
            </td>
            @if (settingsService.isActivePro()) {
            <td mat-col>
              <mat-icon [matTooltip]="'PAGES.DETAIL.LOCAL_OR_CLOUD_TIP' | translate">
              {{ entry.cloud ? 'cloud' : 'cloud_download'  }}
              </mat-icon>
            </td>
            }
          </tr>          
        }         
      </table>    
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton [disabled]="overallStatus !== EStatus.running_healthy" [mat-dialog-close]="true" cdkFocusInitial>{{ 'OK' | translate }}</button>
</mat-dialog-actions>