<mat-toolbar>
<h1 class="title">
  {{ 'PAGES.DETAIL.MAIN_TITLE' | translate }}
</h1>
@if (systemService.brand === 'Nvidia' || systemService.brand === 'Intel' || systemService.brand === 'Amd') {
  <span class="spacer"></span>
  <mat-slide-toggle [disabled]="overallStatus !== EStatus.running_healthy || this.systemService.insightStatus.get() !== EStatus.not_running" [matTooltip]="'GPU_ACCEL_TIP' | translate" [checked]="ollamaService.gpuAcceleration" (change)="switchGPUAccel($event)">
    {{ 'GPU_ACCEL' | translate }}
  </mat-slide-toggle>
}
</mat-toolbar>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field class="half-width">
        <mat-label>{{ 'PAGES.DETAIL.MODEL_SELECT' | translate }}</mat-label>
        <mat-select [disabled]="overallStatus !== EStatus.running_healthy" [(value)]="ollamaService.selectedModel" (selectionChange)="modelChange($event, 0)">
          @for (entry of ollamaService.models; track $index) {
            <mat-option [matTooltip]="entry.description" [disabled]="entry.memory > (systemService.totalMainMemory-4)" [value]="entry.value">{{ entry.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="half-width">
        <mat-label>{{ 'PAGES.DETAIL.EMBEDDINGS_MODEL_SELECT' | translate }}</mat-label>
        <mat-select [disabled]="overallStatus !== EStatus.running_healthy" [(value)]="ollamaService.embeddings_model" (selectionChange)="modelChange($event, 1)">
          @for (entry of ollamaService.embedding_models; track $index) {
            <mat-option [matTooltip]="entry.description" [disabled]="entry.memory > (systemService.totalMainMemory-4)" [value]="entry.value">{{ entry.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span class="spacer"></span>
      @if (ollamaService.status.get() === EStatus.running) {
        @if (systemService.modelStatus.get() !== EStatus.running) {
          <div [class]="systemService.modelStatus.getC()">
            <mat-spinner diameter="30"></mat-spinner>
            {{ systemService.modelStatus.getS() }}
          </div>
        }
        <!--
        } @else {
          <div [class]="systemService.getClassFromStatus(systemService.modelStatus())">
            <mat-icon>{{ systemService.getIconFromStatus(systemService.modelStatus()) }}</mat-icon>
            {{ systemService.modelStatus() }}
          </div>
        }
        -->   
      }
    </mat-toolbar-row>    
  </mat-toolbar>
  <mat-accordion>
  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
    <mat-panel-title>{{ 'PAGES.INSIGHT.OPTIONS' | translate }}</mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>
  </mat-expansion-panel-header> 
    <div class="onerow">
      <mat-form-field class="full-width">
        <mat-label [matTooltip]="'PAGES.DETAIL.RAG_PROMPT_TIP' | translate">{{ 'PAGES.DETAIL.RAG_PROMPT' | translate }}</mat-label>
        <textarea [disabled]="overallStatus !== EStatus.running_healthy" (blur)="systemService.saveInsightSettings()" matInput type="text" [(ngModel)]="systemService.ragPrompt">{{ systemService.ragPrompt }}</textarea>
      </mat-form-field>                        
    </div>
    <div class="onerow">
      <mat-form-field class="full-width">
        <mat-label [matTooltip]="'PAGES.DETAIL.USER_PROMPT_TIP'| translate">{{ 'PAGES.DETAIL.USER_PROMPT' | translate }}</mat-label>
        <textarea [disabled]="overallStatus !== EStatus.running_healthy" (blur)="systemService.saveInsightSettings()" matInput type="text" [(ngModel)]="systemService.userPrompt">{{ systemService.userPrompt }}</textarea>
      </mat-form-field>                        
    </div>
  </mat-expansion-panel>        
  </mat-accordion>    
  @if (showModelList) {
    <div class="vertscroll">
      <table mat-table class="model_table">
        <tr mat-header-row>
          <td class="underline" mat-col>
            {{ 'PAGES.DETAIL.MODEL_NAME' | translate }}            
          </td>
          <td class="underline" mat-col>
            @if (
                ollamaService.status.get() === EStatus.running && 
                systemService.modelStatus.get() === EStatus.running
              ) {
            <button [matTooltip]="'PAGES.DETAIL.REFRESH_LLM_TIP' | translate" matButton (click)="updateAllModels($event)">
              <mat-icon class="warning">refresh</mat-icon>
            </button>
            }
          </td>
          <td class="underline" mat-col>
            {{ 'PAGES.DETAIL.MODEL_SIZE' | translate }}
          </td>          
        </tr>      
        @for (entry of ollamaService.availableModels; track $index) {
          <tr mat-row>
            <td class="centercol" mat-col>
              <button [matTooltip]="entry.description" matButton (click)="openModelDetails($event, entry.name)">
                {{ entry.name }}
              </button>
            </td>
            <td mat-col>
              @if (
                ollamaService.status.get() === EStatus.running && 
                systemService.modelStatus.get() === EStatus.running
              ) {
              <button matButton (click)="updateModel($event, entry.name)">
                <mat-icon class="warning">refresh</mat-icon>
              </button>
              }
              @if (
                ollamaService.status.get() === EStatus.running && 
                systemService.modelStatus.get() === EStatus.running &&
                !entry.name.startsWith('embedding') &&
                !entry.name.startsWith('gemma3:1b') &&                
                entry.name !== ollamaService.selectedModel &&
                entry.name !== ollamaService.embeddings_model
              ) {
                <button matButton (click)="removeModel($event, $index)">
                  <mat-icon class="danger">cancel</mat-icon>
                </button>
              }              
            </td>
            <td mat-col>
              {{ entry.size ? entry.size : '-' }}&nbsp;MB
            </td>            
          </tr>          
        }         
      </table>    
    </div>
  }
