::ng-deep .onerow {
  display: flex;
  flex-direction: row; 
  padding: 5px;
  align-items: center;
}

::ng-deep .chip {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: var(--mat-sys-outline);  
}

::ng-deep .chip-success {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: green;  
}

::ng-deep .chip-warning {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: darkkhaki;  
}

::ng-deep .chip-error {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: red;  
}

.spacer {
  flex: 1 1 auto;
}

.small {
  font-size: 0.6em;
}

.vsmall {
  font-size: 0.5em;
}

