::ng-deep .onerow {
  display: flex;
  flex-direction: row; 
  padding: 5px;
  align-items: center;
  font-family: Roboto;
}

::ng-deep .smallonerow {
  display: flex;
  flex-direction: row; 
  padding: 5px;
  font-size: 0.7em;
  align-items: center;
  font-family: Roboto;
}

::ng-deep .vertrow {
  display: flex;
  flex-direction: column; 
  padding: 5px;
  align-items: center;
  font-family: Roboto;
}

::ng-deep .chip {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: var(--mat-sys-outline);  
}

::ng-deep .chip-success {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: green;  
}

::ng-deep .chip-warning {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: darkkhaki;  
}

::ng-deep .chip-error {
  display: flex;
  flex-direction: row;  
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: red;  
}

.spacer {
  flex: 1 1 auto;
}

.small {
  font-size: 0.6em;
}

.vsmall {
  font-size: 0.5em;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.small-width {
  width: 80%;
}

.vertscroll {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 100%;
  font-family: Roboto;  
}

::ng-deep .model_table {
  width: 100% !important;
}

.centercol {
  align-items: center;
  justify-content: space-between;
  display: flex;  
}

.underline {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
}

.smallIcon {
  transform: scale(0.75);  
}

.danger {
  color: red;
}

.success {
  color: greenyellow;
}

.info {
  color: pink;
}

.warning {
  color: yellow;
}

.gridtile {
  align-items: center;
  min-width: 100px;
}

.spinner-container {
  /* Position the container to cover the entire viewport */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* Use Flexbox to center the content */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */

  /* Optional: Add a background overlay and z-index */
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

::ng-deep .installhint {
  display: flex;
  flex-direction: row; 
  padding: 5px;
  align-items: center;
  color: yellow;
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
}

