VERSION=1.0.0
DOC_SOURCE_PATH=#USER_DATA_HOME##SEP#lrag#SEP#docs
EMBEDDINGS_MODEL_NAME=#EMBEDDINGS_MODEL_NAME#
LLM_MODEL_NAME=#LLM_MODEL_NAME#
RERANK_SERVICE=http://mxcsfg3rqluuvsmu.myfritz.net:8021
REMOTE_LLM_SERVICE=http://mxcsfg3rqluuvsmu.myfritz.net:11435
OCR_SFTP_HOST=mxcsfg3rqluuvsmu.myfritz.net
OCR_SFTP_PORT=2222
OCR_USER=lrag
OCR_PASSWD=ocrupload
UPDATE_INFO_FILE=https://mxcsfg3rqluuvsmu.myfritz.net:45195/nas/filelink.lua?id=062c1d5165767c08
MODELS_FILE=https://mxcsfg3rqluuvsmu.myfritz.net:45195/nas/filelink.lua?id=4091526d3b615d0c
EMBEDDED_MODELS_FILE=https://mxcsfg3rqluuvsmu.myfritz.net:45195/nas/filelink.lua?id=ba41c53078bbd45b
LIBRARY_PREFIX=https://ollama.com/library/
TOOLS_DLS_FILE=https://mxcsfg3rqluuvsmu.myfritz.net:45195/nas/filelink.lua?id=f8f37ee2ef5e16c2
OLLAMA_VERSION=0.12.6
IPEX_VERSION=2.2.0
MANAGE_EXTERNAL=false