<mat-card class="home-card" appearance="outlined">
  <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel (afterExpand)="startShow($event)" [expanded]="systemService.appVersionChange">
          <mat-expansion-panel-header>
            <mat-panel-title></mat-panel-title>
            <mat-panel-description>
              {{ 'PAGES.HOME.BOOTSTRAP_DESC' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-splash></app-splash>
        </mat-expansion-panel>        
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel [expanded]="!systemService.hasBasicSetup">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'PAGES.HOME.DETAIL' | translate }}</mat-panel-title>
            <mat-panel-description>
              {{ 'PAGES.HOME.DETAIL_DESC' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="onerow">
            {{ 'PAGES.HOME.LLM' | translate }}
            @if (systemService.manageOllamaExternally !== true) {
              &nbsp;<span class="small">({{ systemService.ollamaPID }})</span>
            }
            <span class="spacer"></span>            
            <mat-slide-toggle [disabled]="!this.systemService.osType || (this.systemService.osType && this.systemService.osType.isMac)" [checked]="systemService.manageOllamaExternally" [matTooltip]="'PAGES.HOME.MANAGE_EXTERNALLY_TIP' | translate" (change)="manageExternally($event)">
            {{ 'PAGES.HOME.MANAGE_EXTERNALLY' | translate }}
            </mat-slide-toggle>  
            <div [class]="systemService.getClassFromStatus(systemService.ollamaStatus())">  
              @if (systemService.ollamaStatus().startsWith('downloading')) {
                <mat-spinner diameter="30"></mat-spinner>
              } @else {            
                <mat-icon>{{ systemService.getIconFromStatus(systemService.ollamaStatus()) }}</mat-icon>
              }
              {{ systemService.ollamaStatus() }}
            </div>            
          </div>
          @if (systemService.ollamaStatus() === 'running') {
            <div class="onerow">
              {{ 'PAGES.HOME.MODEL' | translate }}&nbsp;            
              <span class="spacer"></span>
              <div [class]="systemService.getClassFromStatus(systemService.modelStatus())">  
                @if (systemService.modelStatus().startsWith('downloading')) {
                  <mat-spinner diameter="30"></mat-spinner>
                } @else {            
                  <mat-icon>{{ systemService.getIconFromStatus(systemService.modelStatus()) }}</mat-icon>
                }
                {{ systemService.modelStatus() }}
              </div>            
            </div>          
          }
        </mat-expansion-panel>        
      </mat-accordion>
    @if (systemService.hasBasicSetup) {
    <mat-accordion>
      <mat-expansion-panel [(expanded)]="systemService.historyExpanded">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'PAGES.HOME.HISTORY' | translate }}</mat-panel-title>
          <mat-panel-description>
            {{ 'PAGES.HOME.HISTORY_DETAILS' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>    
          <div class="vertscroll">
            <table mat-table class="model_table">
              <tr mat-header-row>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.DATE' | translate }}            
                </td>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.QUESTION' | translate }}            
                </td>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.ANSWER' | translate }}            
                </td>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.STATS' | translate }}
                </td>
                <td class="underline" mat-col>
                  @if (systemService.history.length > 0) {
                    <button matButton (click)="clearAll($event)">
                      <mat-icon class="danger">close</mat-icon>
                    </button>      
                  }
                </td>                
              </tr>      
              @for (entry of systemService.history; track $index) {
                <tr mat-row>
                  <td mat-col>
                    <small>
                    {{ entry.when }}
                    </small>
                  </td>
                  <td mat-col>
                    <mat-icon class="copyIcon" (click)="copyContent($event, entry.question)">content_copy</mat-icon>
                    <small>
                      <span [id]="'historyPartQ' + $index">
                      {{ reformat(entry.question) }}
                      </span>                
                    </small>
                    <mat-icon (click)="toggleFullText($event, 'Q', $index)">
                      @if (entry.question && entry.question.length > 60) {
                        {{ entry.q_expanded ? 'expand_less' : 'expand_more' }}
                      }
                    </mat-icon>                    
                  </td>
                  <td mat-col>
                    <mat-icon class="copyIcon" (click)="copyContent($event, entry.answer)">content_copy</mat-icon>
                    <small>
                      <span [id]="'historyPartA' + $index">
                      {{ reformat(entry.answer) }}
                      </span>                
                    </small>
                    <mat-icon (click)="toggleFullText($event, 'A', $index)">
                      @if (entry.answer && entry.answer.length > 60) {
                        {{ entry.a_expanded ? 'expand_less' : 'expand_more' }}
                      }
                    </mat-icon>                    
                  </td>
                  <td mat-col>
                    @if (entry.genInfo) {
                      <small>
                      <nxt-json-view [data]="entry.genInfo"></nxt-json-view>
                      </small>
                    }
                  </td>
                  <td mat-col>
                    <button matButton (click)="clear($event, $index)">
                      <mat-icon class="danger">close</mat-icon>
                    </button>
                    @if (systemService.overallStatus() === 'running: healthy' && systemService.ingestStatus() === 'not running' && systemService.insightStatus() === 'not running') {
                      <button [matTooltip]="'PAGES.HOME.RESTORE_TIP' | translate" matButton (click)="restore($event, $index)">
                        <mat-icon class="success">restore</mat-icon>
                      </button> 
                    }
                  </td>
                </tr>          
              }         
            </table>    
          </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'PAGES.HOME.YOUR_PC' | translate }}</mat-panel-title>
          <mat-panel-description>
            {{ 'PAGES.HOME.TECHNICAL_DETAILS' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-card-header>
          <mat-icon [matTooltip]="'PAGES.HOME.RATING_TIP' | translate" fontIcon="info"></mat-icon>
          <mat-card-subtitle>      
            {{ 'PAGES.HOME.SUB_TITLE' | translate }}
          </mat-card-subtitle>          
        </mat-card-header>
        <mat-slider [class]="systemService.power > 70 ? 'green' : systemService.power > 35 ? 'yellow' : 'red'" disabled min="0" max="100" step="5" showTickMarks discrete [displayWith]="formatLabel">
          <input matSliderThumb [value]="systemService.power">
        </mat-slider>  

        <nxt-json-view #cpu [data]="systemService.cpu"></nxt-json-view>
        <nxt-json-view #gpu [data]="systemService.gpu"></nxt-json-view>
        <nxt-json-view #mem [data]="systemService.mem"></nxt-json-view>
        <nxt-json-view #disks [data]="systemService.disks"></nxt-json-view>
      </mat-expansion-panel>
    </mat-accordion>    
    }    
  </mat-card-content>  
</mat-card>
