<mat-card class="home-card" appearance="outlined">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel #splash (afterExpand)="startShow($event)" (afterCollapse)="endShow($event)">
        <mat-expansion-panel-header>
          <mat-panel-title></mat-panel-title>
          <mat-panel-description>
            {{ 'PAGES.HOME.BOOTSTRAP_DESC' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-splash></app-splash>
      </mat-expansion-panel>        
    </mat-accordion>    

    <mat-accordion>
      <mat-expansion-panel [expanded]="!systemService.hasBasicSetup || systemService.appVersionChange || systemService.servicesDownloading || overallStatus !== EStatus.running_healthy">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'PAGES.HOME.DETAIL' | translate }}</mat-panel-title>
          <mat-panel-description>
            {{ 'PAGES.HOME.DETAIL_DESC' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="onerow">
          {{ 'PAGES.HOME.LLM' | translate }}
          @if (ollamaService.manageOllamaExternally !== true) {
            &nbsp;<span class="small">({{ ollamaService.servicePID }})</span>
          }
          <span class="spacer"></span>            
          <mat-slide-toggle [disabled]="!this.systemService.osType || (this.systemService.osType && this.systemService.osType.isMac)" [checked]="ollamaService.manageOllamaExternally" [matTooltip]="'PAGES.HOME.MANAGE_EXTERNALLY_TIP' | translate" (change)="manageExternally($event)">
          {{ 'PAGES.HOME.MANAGE_EXTERNALLY' | translate }}
          </mat-slide-toggle>  
          <div [class]="ollamaService.status.getC()">  
            @if (ollamaService.status.get() === EStatus.downloading || ollamaService.status.get() === EStatus.starting) {
              <mat-spinner diameter="30"></mat-spinner>
              {{ ollamaService.status.getS() }}
            } @else {            
              <mat-icon>{{ ollamaService.status.getI() }}</mat-icon>
              {{ ollamaService.status.getS() }}
            }            
          </div>            
        </div>
        <div class="onerow">
          {{ 'PAGES.HOME.RERANKER' | translate }}
          &nbsp;<span class="small">({{ rerankerService.servicePID }})</span>
          @if (rerankerService.status.get() === EStatus.running && rerankerService.servicePID !== -1) {                    
            <button matButton [matTooltip]="'PAGES.HOME.RESTART_SERVICE' | translate" matButton (click)="rerankerService.restart($event)">
              <mat-icon class="success">refresh</mat-icon>
            </button>
          }
          <span class="spacer"></span>            
          <div [class]="rerankerService.status.getC()">  
            @if (rerankerService.status.get() === EStatus.downloading || rerankerService.status.get() === EStatus.starting) {
              <mat-spinner diameter="30"></mat-spinner>
              {{ rerankerService.status.getS() }}
            } @else {            
              <mat-icon>{{ rerankerService.status.getI() }}</mat-icon>
              {{ rerankerService.status.getS() }}
            }            
          </div>            
        </div>
        @if ( watcherService.wingetStatus.get() === EStatus.installed_winget || 
              watcherService.wingetStatus.get() === EStatus.upgrade_winget ||
              watcherService.brewStatus.get() === EStatus.not_installed || 
              watcherService.brewStatus.get() === EStatus.upgrade ||
              (watcherService.ghostscriptStatus.get() === EStatus.upgrade_brew && watcherService.brewStatus.get() === EStatus.installed) ||
              (watcherService.ghostscriptStatus.get() === EStatus.installed_brew && watcherService.brewStatus.get() === EStatus.installed) ||
              watcherService.ghostscriptStatus.get() === EStatus.upgrade ||
              watcherService.ghostscriptStatus.get() === EStatus.not_installed) {
        <div class="installhint">
          {{ 'PAGES.HOME.CLICK_TO_INSTALL' | translate }}
        </div>
        }
        <div class="onerow">
          {{ 'PAGES.HOME.WATCHER' | translate }}
          &nbsp;<span class="small">({{ watcherService.servicePID }})</span>
          @if (watcherService.status.get() === EStatus.running && watcherService.servicePID !== -1) {                    
            <button matButton [matTooltip]="'PAGES.HOME.RESTART_SERVICE' | translate" matButton (click)="watcherService.restart($event)">
              <mat-icon class="success">refresh</mat-icon>
            </button>
          }
          <span class="spacer"></span>
          @if ( watcherService.wingetStatus.get() === EStatus.installed_winget || 
                watcherService.wingetStatus.get() === EStatus.upgrade_winget ) {
            <button matButton="filled" (click)="watcherService.installUpgradeTesseract($event)">
              Tesseract {{ watcherService.wingetStatus.getS() }}
            </button>
          } @else if (watcherService.wingetStatus.get() === EStatus.upgrading_winget || 
                      watcherService.wingetStatus.get() === EStatus.installing_winget) {
            <div [class]="watcherService.wingetStatus.getC()">
              <mat-spinner diameter="30"></mat-spinner>              
              Tesseract {{ watcherService.wingetStatus.getS() }}
            </div>
          } @else if (watcherService.wingetStatus.get() === EStatus.error) {
            <div [class]="watcherService.wingetStatus.getC()">
              Tesseract {{ watcherService.wingetStatus.getS() }}
            </div>
          }
          @if ( watcherService.brewStatus.get() === EStatus.not_installed || 
                watcherService.brewStatus.get() === EStatus.upgrade ) {
            <button matButton="filled" (click)="watcherService.installUpgradeBrew($event)">
              Brew {{ watcherService.brewStatus.getS() }}
            </button>
          } @else if (watcherService.brewStatus.get() === EStatus.upgrading || 
                      watcherService.brewStatus.get() === EStatus.installing) {
            <div [class]="watcherService.brewStatus.getC()">
              <mat-spinner diameter="30"></mat-spinner>              
              Brew {{ watcherService.brewStatus.getS() }}
            </div>
          } @else if (watcherService.brewStatus.get() === EStatus.error) {
            <div [class]="watcherService.brewStatus.getC()">
              Brew {{ watcherService.brewStatus.getS() }}
            </div>
          }
          @if ( (watcherService.ghostscriptStatus.get() === EStatus.upgrade_brew && watcherService.brewStatus.get() === EStatus.installed) ||
                (watcherService.ghostscriptStatus.get() === EStatus.installed_brew && watcherService.brewStatus.get() === EStatus.installed) ||
                watcherService.ghostscriptStatus.get() === EStatus.upgrade ||
                watcherService.ghostscriptStatus.get() === EStatus.not_installed) {
            <button matButton="filled" (click)="watcherService.installUpgradeGS($event)">
              Ghostscript {{ watcherService.ghostscriptStatus.getS() }}
            </button>
          } @else if ((watcherService.ghostscriptStatus.get() === EStatus.upgrading_brew && watcherService.brewStatus.get() === EStatus.installed) || 
                      (watcherService.ghostscriptStatus.get() === EStatus.installing_brew && watcherService.brewStatus.get() === EStatus.installed)  ||
                      watcherService.ghostscriptStatus.get() === EStatus.upgrading ||
                      watcherService.ghostscriptStatus.get() === EStatus.installing) {
            <div [class]="watcherService.brewStatus.getC()">
              <mat-spinner diameter="30"></mat-spinner>              
              Ghostscript {{ watcherService.ghostscriptStatus.getS() }}
            </div>
          } @else if (watcherService.ghostscriptStatus.get() === EStatus.error) {
            <div [class]="watcherService.ghostscriptStatus.getC()">
              Ghostscript {{ watcherService.ghostscriptStatus.getS() }}
            </div>
          }          
          <div [class]="watcherService.status.getC()">  
            @if (watcherService.status.get() === EStatus.downloading || watcherService.status.get() === EStatus.starting) {
              <mat-spinner diameter="30"></mat-spinner>
              {{ watcherService.status.getS() }}
            } @else {            
              <mat-icon>{{ watcherService.status.getI() }}</mat-icon>
              {{ watcherService.status.getS() }}
            }            
          </div>            
        </div>
        @if (ollamaService.status.get() === EStatus.running) {
          <div class="onerow">
            {{ 'PAGES.HOME.MODEL' | translate }}&nbsp;            
            <span class="spacer"></span>
            <div [class]="systemService.modelStatus.getC()">  
              @if (modelStatus === EStatus.downloading) {
                <mat-spinner diameter="30"></mat-spinner>
              } @else {            
                <mat-icon>{{ systemService.modelStatus.getI() }}</mat-icon>
              }
              {{ systemService.modelStatus.getS() }}
            </div>            
          </div>          
        }
      </mat-expansion-panel>        
    </mat-accordion>
    @if (systemService.hasBasicSetup) {
    <mat-accordion>
      <mat-expansion-panel [(expanded)]="systemService.historyExpanded">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'PAGES.HOME.HISTORY' | translate }}</mat-panel-title>
          <mat-panel-description>
            {{ 'PAGES.HOME.HISTORY_DETAILS' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>    
          <div class="vertscroll">
            <table mat-table class="model_table">
              <tr mat-header-row>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.DATE' | translate }}            
                </td>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.QUESTION' | translate }}            
                </td>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.ANSWER' | translate }}            
                </td>
                <td class="underline" mat-col>
                  {{ 'PAGES.HOME.STATS' | translate }}
                </td>
                <td class="underline" mat-col>
                  @if (systemService.history.length > 0) {
                    <button matButton (click)="clearAll($event)">
                      <mat-icon class="danger">close</mat-icon>
                    </button>      
                  }
                </td>                
              </tr>      
              @for (entry of systemService.history; track $index) {
                <tr mat-row>
                  <td mat-col>
                    <small>
                    {{ entry.when }}
                    </small>
                  </td>
                  <td mat-col>
                    <mat-icon class="copyIcon" (click)="copyContent($event, entry.question)">content_copy</mat-icon>
                    <small>
                      <span [id]="'historyPartQ' + $index">
                      {{ reformat(entry.question) }}
                      </span>                
                    </small>
                    <mat-icon (click)="toggleFullText($event, 'Q', $index)">
                      @if (entry.question && entry.question.length > 60) {
                        {{ entry.q_expanded ? 'expand_less' : 'expand_more' }}
                      }
                    </mat-icon>                    
                  </td>
                  <td mat-col>
                    <mat-icon class="copyIcon" (click)="copyContent($event, entry.answer)">content_copy</mat-icon>
                    <small>
                      <span [id]="'historyPartA' + $index">
                      {{ reformat(entry.answer) }}
                      </span>                
                    </small>
                    <mat-icon (click)="toggleFullText($event, 'A', $index)">
                      @if (entry.answer && entry.answer.length > 60) {
                        {{ entry.a_expanded ? 'expand_less' : 'expand_more' }}
                      }
                    </mat-icon>                    
                  </td>
                  <td mat-col>
                    @if (entry.genInfo) {
                      <small>
                      <nxt-json-view [data]="entry.genInfo"></nxt-json-view>
                      </small>
                    }
                  </td>
                  <td mat-col>
                    <button matButton (click)="clear($event, $index)">
                      <mat-icon class="danger">close</mat-icon>
                    </button>
                    @if (overallStatus === EStatus.running_healthy && ingestStatus === EStatus.not_running && insightStatus === EStatus.not_running) {
                      <button [matTooltip]="'PAGES.HOME.RESTORE_TIP' | translate" matButton (click)="restore($event, $index)">
                        <mat-icon class="success">restore</mat-icon>
                      </button> 
                    }
                  </td>
                </tr>          
              }         
            </table>    
          </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'PAGES.HOME.YOUR_PC' | translate }}</mat-panel-title>
          <mat-panel-description>
            {{ 'PAGES.HOME.TECHNICAL_DETAILS' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-card-header>
          <mat-icon [matTooltip]="'PAGES.HOME.RATING_TIP' | translate" fontIcon="info"></mat-icon>
          <mat-card-subtitle>      
            {{ 'PAGES.HOME.SUB_TITLE' | translate }}
          </mat-card-subtitle>          
        </mat-card-header>
        <mat-slider [class]="systemService.power > 70 ? 'green' : systemService.power > 35 ? 'yellow' : 'red'" disabled min="0" max="100" step="5" showTickMarks discrete [displayWith]="formatLabel">
          <input matSliderThumb [value]="systemService.power">
        </mat-slider>  

        <nxt-json-view #cpu [data]="systemService.cpu"></nxt-json-view>
        <nxt-json-view #gpu [data]="systemService.gpu"></nxt-json-view>
        <nxt-json-view #mem [data]="systemService.mem"></nxt-json-view>
        <nxt-json-view #disks [data]="systemService.disks"></nxt-json-view>
      </mat-expansion-panel>
    </mat-accordion>    
    }    
  </mat-card-content>  
</mat-card>
